*{
    margin:0;
    padding: 0;
}
h1{
    font-size: 100px;
    margin: 20px 50px;
}
h2{
    font-size: 70px;
    margin: 20px 50px;
}
body{
    background-color: #23262e;
    color: whitesmoke;
    font-family: google;
    display: flex;
    align-items: right;
    flex-direction: column;

}
input,select{
    display: block;
    font-family: google;
    font-size: 70px;
    margin: 0 700px 0 50px;
    border: none;
    border-radius: 30px;
    padding: 10px;
}
